.popup.popup--dark-bg.called-js(data-name="participants")
  .glass-effect
    .popup__window
      +title({ title: 'Список участников', tag: 'h2', size: 'md' })
      form
        input(type="text" placeholder="Поиск")

      .popup__close.close-js.tap-effect
        +icon('cross', {class: 'icon', width: 26, height: 26})

      table.table
        thead 
          th №
          th ФИО
          th Дата и время
          th Голос

        tbody
          tr
            td 1
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--red Против
          tr
            td 2
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--green Поддерживаю
          tr
            td 3
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--orange Воздержусь
          tr
            td 4
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--red Против
          tr
            td 5
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--green Поддерживаю
          tr
            td 6
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--orange Воздержусь
          tr
            td 7
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--red Против
          tr
            td 8
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--green Поддерживаю
          tr
            td 9
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--orange Воздержусь
          tr
            td 10
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--red Против
          tr
            td 11
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--green Поддерживаю
          tr
            td 12
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--orange Воздержусь
          tr
            td 13
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--red Против
          tr
            td 14
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--green Поддерживаю
          tr
            td 15
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--orange Воздержусь
          tr
            td 16
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--red Против
          tr
            td 17
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--green Поддерживаю
          tr
            td 18
            td Улан <br> Кадырбеков
            td 13:14, <br> 30.10.2025
            td 
              .status.status--orange Воздержусь